<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wybor samochodu</title>
</head>
<body>
<h1>Wybor samochodu</h1>
<div>
<!--    <div th:text="${vehicles}"></div>-->
    <div>
        <p>dostepne samochody</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nazwa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle : ${vehicles}">
<!--                <th scope="row"><input type="radio" name="vehicle" th:value="${vehicle}"></th>-->
                <td>
                    <div>
                        <div th:text="${vehicle.category.name}"></div>
                        <div th:text="${vehicle.category.make}"></div>
                        <div>
                            <a href="#" th:href="@{/v1/rental/car-reservation}"> rezerwuj </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
<!--
"category": {
                "name": "Group A - Fiat 500 or similar",
                "make": "Fiat",
                "model": "500",
                "sipp_code": "ECMR",
                "vehicle_class_code": "A",
                "vehicle_class_name": "Mini Manual",
                "vehicle_transmission": "Manual",
                "image_url": "https://www.avis.com/content/dam/cars/l/2014/fiat/2014-fiat-500-lounge-hatchback-black.png"
            },

            "capacity": {
                "doors": "2",
                "seats": "4",
                "luggage_capacity": {
                    "large_suitcase": "1"
                }

                 "rate_totals": {
                "rate": {
                    "currency": "PLN",
                    "rate_code": "7JI",
                    "coupon_applied": false,
                    "under_age_fee_applied": false,
                    "coupon_discount_amount": 0.0
                },
                "pay_later": {
                    "vehicle_total": 543.67,
                    "reservation_total": 641.53
                }
-->
    </div>
</div>
</body>
</html>