<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>car rental system</h1>
<div>
    <form action="/v1/rental/car-search" method="post">
        <div>
        <label for="pickUpLocation">miejsce odbioru</label>
        <input id="pickUpLocation" name="pickUpLocation" type="text">
        </div>
        <div>
            <label for="dropOffLocation">miejsce zwrotu</label>
            <input id="dropOffLocation" name="dropOffLocation" type="text">
        </div>
        <button type="submit">wyszukaj samochód</button>

    </form>
</div>


</body>
</html>