<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/head-webjars-css :: head-webjars-css"></div>
    <div th:replace="fragments/head-webjars-js :: head-webjars-js"></div>

    <script defer src="/js/car-search.js"></script>
</head>
<body>
<div th:replace="fragments/navigation-bar :: navigation-bar"></div>
<h1>car rental system</h1>
<div>
    <form action="#" th:action="@{/v1/rental/locations/choose}" th:object="${locationSearch}" method="post">
        <div>
            <label for="pickUpLocation">miejsce odbioru</label>
            <input id="pickUpLocation" type="text" th:field="*{pickUpLocation}">
        </div>
        <div>
            <label for="dropOffLocation">miejsce zwrotu</label>
            <input id="dropOffLocation" name="dropOffLocation" type="text" th:field="${locationSearch.dropOffLocation}">
        </div>
        <div>
            <div>
                <p>Data odbioru: <input type="text" id="pickUpDate" name="pickUpDate" th:field="*{pickUpDate}"></p>
            </div>
            <div>
                <p>Data zwrotu: <input type="text" id="dropOffDate" name="dropOffDate" th:field="${locationSearch.dropOffDate}"></p>
            </div>
        </div>
        <div>
            <button type="submit">wyszukaj samochód</button>
        </div>
    </form>
</div>
</body>
</html>