<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/head-webjars-css :: head-webjars-css"></div>
    <div th:replace="fragments/head-webjars-js :: head-webjars-js"></div>

    <script defer src="/js/car-search.js"></script>
</head>
<body>
<div th:replace="fragments/navigation-bar :: navigation-bar"></div>
<div class="container-fluid">
    <h1>car rental system</h1>
    <form action="#" th:action="@{/v1/rental/locations/choose}" th:object="${locationSearch}" method="post">
        <div>
            <label for="pickUpLocation">Miejsce odbioru samochodu</label>
            <input id="pickUpLocation" type="text" th:field="*{pickUpLocation}">
            <p th:if="${#fields.hasErrors('pickUpLocation')}" th:errors="*{pickUpLocation}"></p>
        </div>
        <div>
            <label for="dropOffLocation">Miejsce zwrotu samochodu</label>
            <input id="dropOffLocation" name="dropOffLocation" type="text" th:field="${locationSearch.dropOffLocation}">
            <p th:if="${#fields.hasErrors('dropOffLocation')}" th:errors="*{dropOffLocation}"></p>
        </div>
        <div>
            <div>
                <label for="pickUpDate">Data zwrotu samochodu</label>
                <input type="text" id="pickUpDate" name="pickUpDate" th:field="*{pickUpDate}" readonly>
                <p th:if="${#fields.hasErrors('pickUpDate')}" th:errors="*{pickUpDate}"></p>
            </div>
            <div>
                <label for="dropOffDate">Data zwrotu samochodu</label>
                <input type="text" id="dropOffDate" name="dropOffDate" th:field="${locationSearch.dropOffDate}" readonly>
                <p th:if="${#fields.hasErrors('dropOffDate')}" th:errors="*{dropOffDate}"></p>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">wyszukaj samochód</button>
        </div>
    </form>
</div>
</body>
</html>