<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/head-webjars-css :: head-webjars-css"></div>
    <div th:replace="fragments/head-webjars-js :: head-webjars-js"></div>
</head>
<body>
<h1>car search result</h1>
<div>
    <form action="#" th:action="@{/v1/rental/cars/choose}" th:object="${carSearch}" method="post">
        <div>
            <div>
                <p>miejsca odbioru samochodu</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nazwa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${pickUpLocations}">
                        <th scope="row"><input type="radio" name="pickUpLocation" th:value="${location.code}"></th>
                        <td th:text="${location.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <p>miejsca zwrotu samochodu</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nazwa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="location : ${dropOffLocations}">
                        <th scope="row"><input type="radio" name="dropOffLocation" th:value="${location.code}"></th>
                        <td th:text="${location.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <button type="submit">Wybierz</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>