<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/car-search.js"></script>
</head>
<body>
<h1>car rental system</h1>
<div>
    <form action="#" th:action="@{/v1/rental/locations/choose}" th:object="${locationSearch}" method="post">
        <div>
            <label for="pickUpLocation">miejsce odbioru</label>
            <input id="pickUpLocation" type="text" th:field="*{pickUpLocation}">
        </div>
        <div>
            <label for="dropOffLocation">miejsce zwrotu</label>
            <input id="dropOffLocation" name="dropOffLocation" type="text" th:field="${locationSearch.dropOffLocation}">
        </div>
        <div>
            <div>
                <p>Data odbioru: <input type="text" id="pickUpDate" name="pickUpDate" th:field="*{pickUpDate}"></p>
            </div>
            <div>
                <p>Data zwrotu: <input type="text" id="dropOffDate" name="dropOffDate" th:field="${locationSearch.dropOffDate}"></p>
            </div>
        </div>
        <div>
            <button type="submit">wyszukaj samochód</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>