<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dane pasażera</title>
</head>
<body>
<h1>Wprowadź dane pasażera</h1>
<div>
    <form action="#" th:action="@{/v1/rental/cars/reservation}" th:object="${passengerData}" method="post">
        <div>
            <label for="firstName">Imię</label>
            <input id="firstName" type="text" th:field="*{firstName}">
        </div>
        <div>
            <label for="lastName">Nazwisko</label>
            <input id="lastName" type="text" th:field="*{lastName}">
        </div>
        <div>
            <button>Rezerwuj</button>
        </div>
    </form>
</div>
</body>
</html>