<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <div th:replace="fragments/head-webjars-css :: head-webjars-css"></div>
    <div th:replace="fragments/head-webjars-js :: head-webjars-js"></div>
</head>
<body>
    <div th:replace="fragments/navigation-bar :: navigation-bar"></div>
    <h1>Reservations</h1>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Numer</th>
            <th scope="col">Nazwa kategorii</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation, iter : ${reservations}">
            <th scope="row" th:text="${iter.count}"></th>
            <td th:text="${reservation.vehicle.category.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>